
<div class="login">
<h2>ENTER ANIMAL TYPE AND ZIP CODE</h2>

<form action="/search" method="get">
  <input type="text" name="type" placeholder="dog, cat, etc">
  <input type="text" name="zip_code" placeholder="33131, 90210">
  <button>SEARCH</button>
</form>

<h3>YOUR FUTURE FRIENDS LIST</h3>


</div>
