

<div class="login">

<h1>WAGGIE</h1>
<h2>GIVING FRIENDS HOPE</h2>
    <form action="/go_login" method="post">
      <button>LOGIN</button>
    </form>
    <form action="/create_new_form" method="post">
      <button>CREATE NEW</button>
    </form>
</div>
