<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="utf-8">
    <title>Waggie</title>
    <link rel='stylesheet' href='/stylesheets/main.css'>
  </head>
  <body>
    <header>

    <%= session[:user_id] %>
    <% if logged_in? %>

    logged in as <%= current_user.email %>
    <form action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>logout</button>
    </form>
    <% else %>
      <a href="/login">login</a>
    <% end %>

    </header>

    <%= yield %>

  </body>
</html>
