<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="utf-8">
    <title>Waggie Login</title>
    <link rel='stylesheet' href='/stylesheets/login.css'>
  </head>
  <h2>PLEASE ENTER EMAIL AND PASSWORD TO LOGIN</h2>
  <body>
    <form action="/login" method="post">
      <label for="">email</label>
      <input name="email" type="text">
      <label for="">password</label>
      <input name="password" type="password">
      <button>LOGIN</button>
  </body>
</html>
