
  <h2>PLEASE ENTER EMAIL AND PASSWORD TO LOGIN</h2>

    <form action="/session" method="post">
      <label for="">email</label>
      <input placeholder="email" name="email" type="text">
      <label for="">password</label>
      <input placeholder="password" name="password" type="password">
      <button>LOGIN</button>
    </form>
