
  <h2>CREATE NEW ACCOUNT</h2>

    <form action="/new_user" method="post">
      <label for="">email</label>
      <input name="email" type="text">
      <label for="">password</label>
      <input name="password" type="password">
      <button>CREATE NEW</button>
    </form>
