<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CREATENew Account</title>
    <link rel='stylesheet' href='/stylesheets/main.css'>
  </head>
  <h2>CREATE NEW ACCOUNT</h2>
  <body>
    <form action="/new_user" method="post">
      <label for="">email</label>
      <input name="email" type="text">
      <label for="">password</label>
      <input name="password" type="password">
      <button>CREATE NEW</button>
    </form>
  </body>
</html>
